/* =====================================
   ROOT VARIABLES
===================================== */
:root {
    --primary-color: #333;
    --cta-color: #d10606;
    --text-color: #ffffff;
    --accent-color: #0008ff;
    --font-family: 'Arial, sans-serif';
    border-radius: 20px;
}

